pigpio==1.78
pyserial~=3.5b0
numpy~=1.24.4
opencv-python==4.7.0.72
Cython==0.29.34
pip~=23.2.1
wheel==0.38.4
requests==2.31.0
setuptools==65.5.1
numba~=0.57.1
llvmlite~=0.41.0.dev0

scipy~=1.10.1
certifi~=2023.5.7
networkx~=3.1
idna~=3.4
urllib3~=2.0.2